
.background{
    background: url("../public/image/pexels-huy-phan-2987081.jpg") no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    opacity: 0.95;
}


.main-body{
    padding: 5vh;
    background-color: rgb(255, 246, 226);
    height: 100%;
}

h1{
    padding-bottom: 3vh;
}


.logo1{
    height: 5vh;
}